<footer class="footer">
    <div class="footer__container container">
        <p class="footer__copyright">
            2020 ООО "Базилик" <br>
            Официальный сайт компании  
        </p>
        <nav class="nav footer__nav">
            <ul class="nav__list footer__nav-list">
                <li class="nav__item footer__nav-item"><a href="about.html" class="nav__link">О компании</a></li>
                <li class="nav__item footer__nav-item"><a href="products.html" class="nav__link">Продукция</a></li>
                <li class="nav__item footer__nav-item"><a href="#" class="nav__link">Сотрудничество</a></li>
                <li class="nav__item footer__nav-item"><a href="shops.html" class="nav__link">Магазины</a></li>
                <li class="nav__item footer__nav-item"><a href="reviews.html" class="nav__link">Отзывы</a></li>
                <li class="nav__item footer__nav-item"><a href="news.html" class="nav__link">Блог</a></li>
                <li class="nav__item footer__nav-item"><a href="contacts.html" class="nav__link">Контакты</a></li>
            </ul>
        </nav>
        <div class="phone">
            <a href="tel:+74951034270" class="phone__link phone__link--small">8 (495) 103 <span class="phone__dot">•</span>  42 <span class="phone__dot">•</span> 70</a>
        </div>
    </div>
</footer>