<section class="about-company section-blob section-blob--black">
    <div class="container">
        <p class="about-company__suptitle section-suptitle">Наша история</p>
        <h2 class="about-company__title section-title section-title--white">О компании</h2>

        <div class="about-company__text-wrap">
            <p>Компания «Базилик» с 2016 года занимается производством колбас 
                и деликатесов из фермерского охлаждённого сырья.</p>
            <p>Многолетний опыт команды позволил наладить процесс производства, 
                сохраняя качество и натуральный вкус.</p>
            <p>На сегодняшний день наша продукция уже представлена в торговых сетях Москвы и Подмосковья и пользуется популярностью у покупателей.</p>
            <p>Мы открыты для сотрудничества и готовы разрабатывать новые виды 
                продукции, в том числе индивидуальные и эксклюзивные, только для 
                Вашей торговой сети или точки.</p>
        </div>
    </div> 
</section>