<section class="hero">
    {{> header/header}}

    <div class="hero__container container">
        <ul class="hero__social-list">                       
            <li class="hero__social-item"><a href="https://vk.com/" class="hero__social-link" target="_blank" rel="nofollow noopener">вконтакте</a></li>
            <li class="hero__social-item"><a href="https://www.instagram.com/" class="hero__social-link" target="_blank" rel="nofollow noopener">instagram</a></li>
            <li class="hero__social-item"><a href="https://www.facebook.com/" class="hero__social-link" target="_blank" rel="nofollow noopener">facebook</a></li>
        </ul>
    
        <h1 class="hero__title">Мясные деликатесы из каменной печи</h1>
        <p class="hero__subtitle">Натуральные мясные деликатесы и колбасы премиум класса собственного производства</p>
        <button class="hero__btn btn">Заказать прайс лист</button>
    </div>
</section>