<section class="section-reviews section-blob section-blob--light">
    <div class="container">
        <p class="section-reviews__suptitle section-suptitle">Они говорят</p>
        <h2 class="section-reviews__title section-title section-title--gray">Отзывы</h2>

        <ul class="section-reviews__list reviews__list">
            <li class="reviews__item">
                <div class="reviews__about-author">
                    <img src="%=static=%img/assets/section-reviews/user-avatar.png" alt="Иванова Ольга" class="reviews__avatar">
                    <p class="reviews__name-author">Иванова Ольга</p>
                    <p class="reviews__date">24.10.20</p>
                </div>
                <p class="reviews__text">Я обожаю стейки. Это вдвойне удивительно, если учесть, что я не люблю мясо и вообще подумываю стать вегетарианкой. Наверное, именно стейки удерживают меня от этого шага.</p>
            </li>
            <li class="reviews__item">
                <div class="reviews__about-author">
                    <img src="%=static=%img/assets/section-reviews/user-avatar.png" alt="Иванова Ольга" class="reviews__avatar">
                    <p class="reviews__name-author">Иванова Ольга</p>
                    <p class="reviews__date">24.10.20</p>
                </div>
                <p class="reviews__text">Спасибо за стейки. Это вдвойне удивительно, если учесть, что я не люблю мясо и вообще подумываю стать вегетарианкой. Наверное, именно стейки удерживают меня от этого шага.</p>
            </li>
        </ul>

        <a href="#" class="btn btn-large reviews__btn">Все отзывы</a>
    </div>
</section>