<section class="advantages section-blob section-blob--dark">
    <div class="container">
        <p class="advantages__suptitle section-suptitle">Почему мы!</p>
        <h2 class="advantages__title section-title section-title--white">Наши преимущества</h2>

        <ul class="advantages__list">
            <li class="advantages__item advantages__item--first">
                <div class="advantages__text-wrap">
                    <h3 class="advantages__name">Без "Е"</h3>
                    <p class="advantages__text">В производстве нашей 
                        продукции используются только натуральные 
                        ингредиенты, без добавок Е, консервантов и усилителей вкуса — только мясо и специи.</p>
                </div>
            </li>
            <li class="advantages__item advantages__item--second">
                <div class="advantages__text-wrap">
                    <h3 class="advantages__name">Натуральное фермерское сырье</h3>
                    <p class="advantages__text">Мы тщательно отобрали поставщиков мяса, птицы 
                        и другого сырья, чтобы готовый продукт был натуральным, свежим и полезным.</p>
                </div>
            </li>
            <li class="advantages__item advantages__item--third">
                <div class="advantages__text-wrap">
                    <h3 class="advantages__name">Копчение в настоящей каменной печи</h3>
                    <p class="advantages__text">Процесс копчения происходит в настоящей каменной печи (тандыре) на ольховой щепе.</p>
                </div>
            </li>
        </ul>
    </div>
</section>