<section class="videos section-blob section-blob--dark">
    <div class="container">
        <p class="videos__suptitle section-suptitle">Видео</p>
        <h2 class="videos__title section-title section-title--white">СМИ о нас</h2>

        <div class="videos__player-wrap">
            <div class="video">
                <div class="video__link">
                    <picture>
                        <source srcset="#" type="image/webp">
                        <img src="#" class="video__media" alt="Название видео">
                    </picture>
                    <button class="video__button" type="button" aria-label="Запустить видео">
                        <svg xmlns="http://www.w3.org/2000/svg" width="68" height="48" viewBox="0 0 310 310"><path class="video__button-shape" d="M297.917 64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359 0-61.369 5.776-72.517 19.938C0 79.663 0 100.008 0 128.166v53.669c0 54.551 12.896 82.248 83.386 82.248h143.226c34.216 0 53.176-4.788 65.442-16.527C304.633 235.518 310 215.863 310 181.835v-53.669c0-29.695-.841-50.16-12.083-63.521zm-98.896 97.765l-65.038 33.991c-1.454.76-3.044 1.137-4.632 1.137-1.798 0-3.592-.484-5.181-1.446-2.992-1.813-4.819-5.056-4.819-8.554v-67.764c0-3.492 1.822-6.732 4.808-8.546 2.987-1.814 6.702-1.938 9.801-.328l65.038 33.772c3.309 1.718 5.387 5.134 5.392 8.861.004 3.73-2.065 7.151-5.369 8.877z"/></svg>
                    </button>
                </div>
            </div>

            <ul class="videos__list">
                <li class="videos__item videos__item--current">
                    <a href="https://www.youtube.com/watch?v=jMeO-06n7PM" class="videos__name videos__name--current">Участие компании в передаче "Контрольная закупка" на Первом канале</a>
                </li>
                <li class="videos__item">
                    <a href="https://www.youtube.com/watch?v=ChhHgX6C5fw" class="videos__name">Компания "Базилик" - спонсор гоночной команды УГМК Моторспорт на ралли Moscow Rally Grand Prix 2017</a>
                </li>
                <li class="videos__item">
                    <a href="https://www.youtube.com/watch?v=eqUSpCNZydU" class="videos__name">Секреты производства шашлыка. Контрольная закупка. Фрагмент выпуска от 28.04.2018</a>
                </li>
            </ul>
        </div>
    </div>
</section>