<section class="section-contacts section-blob section-blob--light">
    <div class="section-contacts__wrap">
        <div class="container">
            <p class="section-contacts__suptitle section-suptitle">Связаться с нами</p>
            <h2 class="section-contacts__title section-title section-title--white">Контакты</h2>
    
            <div class="section-contacts__map map">
                <div class="map__info">
                    <img src="%=static=%img/general/logo--dark.png" alt="" class="map__logo">
                    <ul class="map__contacts-list">
                        <li class="map__contacts-item map__contacts-item--address">
                            Московская область,
                            Мытищинский район,
                            п. Пироговский,
                            ул. Фабричная, д.1
                        </li>
                        <li class="map__contacts-item map__contacts-item--phone">
                            <a href="tel:+79154794919" class="map__contacts-phone">+7 (915) 479-49-19</a>
                        </li>
                        <li class="map__contacts-item map__contacts-item--email">
                            <a href="mailto:basilmeat@yandex.ru" class="map__contacts-email">basilmeat@yandex.ru</a>
                        </li>
                    </ul>
    
                    <ul class="map__social-list">
                        <li class="map__social-item">
                            <a href="https://vk.com/" class="map__social-link" target="_blank" rel="nofollow noopener">
                                <img class="map__social-img" src="%=static=%img/assets/section-contacts/vk.jpg" alt="Следите за нами Вконтакте">
                            </a>
                        </li>
                        <li class="map__social-item">
                            <a href="https://www.facebook.com/" class="map__social-link" target="_blank" rel="nofollow noopener">
                                <img class="map__social-img" src="%=static=%img/assets/section-contacts/fb.jpg" alt="Следите за нами в Facebook">
                            </a>
                        </li>
                        <li class="map__social-item">
                            <a href="https://www.instagram.com/" class="map__social-link" target="_blank" rel="nofollow noopener">
                                <img class="map__social-img" src="%=static=%img/assets/section-contacts/inst.jpg" alt="Следите за нами в Instagram">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="map__wrap">
                    <div class="map__wrap-resize">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>